*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  background: #fff;
  font-family: "Romanica";
  text-align: center;
  justify-content: center;
  align-items: center;
}

.nav{
  display: flex;
  justify-content: flex-end;
  max-width: 1400px; /*992px, 1200px, 1400px*/
  margin: 0 auto; /*para centrar*/
}

.nav-link{
  color: #fff;
  text-decoration: none;
}

.nav-menu-item{
  font-size: 18px;
  margin: 0 5px;
  line-height: 70px; /*cambiar menor a 80px*/
  text-transform: uppercase;
  width: max-content;
}

/*opcional*/
.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
}

/*opcional*/
.nav-menu-link:hover{
  background-color: rgb(98, 98, 98);
  transition: 0.3s
}

.nav-toggle{
  color: #fff;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  margin-top: 9px;
  cursor: pointer;

  display: none; /*Para que no se vea en modo escritorio*/
}

.picture{
  display: none;
}

.logo{
  display: none;
}

@media (max-width: 576px) {

  .logo{
    display: none;
  }

  .header{
    background: #000;
    height: 50px; /*cambiar menor a 80px*/
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .nav-menu{
    flex-direction: column;
    align-items: center;
    /*margin-right: 20px;*/
    margin: 0;
    background-color: rgba(76, 77, 79, 0.47);
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%; /*--------------------------*/
    padding: 3px 0;

    height: calc(100% - 67%);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item{
    line-height: 70px;
  }

  /*opcional*/
  .nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
  }

  /*opcional*/
  .nav-menu-link:hover{
    background: none;
    color: indianred;
  }

  .nav-toggle{
    display: block;
  }

  .nav-menu_visible{
    left: 0; /*-------------------*/
  }

  .nav-toggle:focus:not(:focus-visible){
    outline: none;
  }

  .picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }

  .picture img{
    margin-top: 45px;
    width: 75%; /*PENDIETE*/
  }

  .line-social-medias1{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .social-medias a{
    margin: 5px;
  }

  .social-medias a img{

  }

  .social-medias span{
    position: relative;
    text-align: center;
    font-size: 20px;
    top: -6px;
    margin-right: 5px;
  }

  .line-social-medias2{
    width: 50%;
    margin-top: 5px;
    margin-bottom: 68px;
  }

  .about-us{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .about-us img{
    width: 50%;
  }

  .about-us h2{
    margin-bottom: auto;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
  }

  .about-us p{
    text-align: justify-all;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: lighter;
  }

  .block-cartas{
    width: 50%;
    margin-bottom: 10px;
  }

  .foods h2{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
  }

  /*plato 1*/
  .inchicapi p{
    text-align: justify-all;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: lighter;
  }

  #img-food1{
    width: 50%;
  }

  /*plato 2*/
  .patarashca p{
    text-align: justify-all;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: lighter;
  }

  #img-food2{
    width: 50%
  }
   /*plato 3*/
   .cecina-tacacho p{
     text-align: justify-all;
     margin-top: 10px;
     margin-left: 50px;
     margin-right: 50px;
     margin-bottom: 25px;
     font-size: 20px;
     font-weight: lighter;
   }

   #img-food3{
     width: 50%
   }
   /*plato 4*/
   .caldo-gallina p{
     text-align: justify-all;
     margin-top: 10px;
     margin-left: 50px;
     margin-right: 50px;
     margin-bottom: 25px;
     font-size: 20px;
     font-weight: lighter;
   }

   #img-food4{
     width: 50%
   }

  /*plato 5*/
  .chilcano-pescado p{
    text-align: justify-all;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: lighter;
  }

  #img-food5{
    width: 50%
  }

  .location h2{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
  }

  .location hr{
    width: 59%;
    margin-bottom: 15px;
  }

  iframe{
    width: 85%;
    height: 300px;
  }

  .location{
    margin-bottom: 30px;
  }
}

@media (min-width: 576px) {

  .logo{
    display: none;
  }

  .header{
    background: #000;
    height: 50px; /*cambiar menor a 80px*/
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .nav-menu{
    flex-direction: column;
    align-items: center;
    /*margin-right: 20px;*/
    margin: 0;
    background-color: rgba(76, 77, 79, 0.47);
    position: fixed;
    left: 0;
    top: 60px;
    width: 20%; /*--------------------------*/
    padding: 3px 0;

    height: calc(100% - 67%);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item{
    line-height: 70px;
  }

  /*opcional*/
  .nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
  }

  /*opcional*/
  .nav-menu-link:hover{
    background: none;
    color: #f0f221;
  }

  .nav-toggle{
    display: block;
  }

  .nav-menu_visible{
    left: 80%; /*-------------------*/
  }

  .nav-toggle:focus:not(:focus-visible){
    outline: none;
  }

  .picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }

  .picture img{
    margin-top: 65px;
    width: 75%; /*PENDIETE*/
  }

  .line-social-medias1{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .social-medias a{
    margin: 5px;
  }

  .social-medias a img{

  }

  .social-medias span{
    position: relative;
    text-align: center;
    font-size: 20px;
    top: -6px;
    margin-right: 5px;
  }

  .line-social-medias2{
    width: 50%;
    margin-top: 5px;
    margin-bottom: 78px;
  }

  .about-us{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .about-us img{
    width: 50%;
  }

  .about-us h2{
    margin-bottom: auto;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
  }

  .about-us p{
    text-align: justify-all;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: lighter;
  }

  .block-cartas{
    width: 50%;
    margin-bottom: 10px;
  }

  .foods h2{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
  }

  /*plato 1*/
  .inchicapi p{
    text-align: justify-all;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: lighter;
  }

  #img-food1{
    width: 50%;
  }

  /*plato 2*/
  .patarashca p{
    text-align: justify-all;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: lighter;
  }

  #img-food2{
    width: 50%
  }
   /*plato 3*/
   .cecina-tacacho p{
     text-align: justify-all;
     margin-top: 10px;
     margin-left: 50px;
     margin-right: 50px;
     margin-bottom: 25px;
     font-size: 20px;
     font-weight: lighter;
   }

   #img-food3{
     width: 50%
   }
   /*plato 4*/
   .caldo-gallina p{
     text-align: justify-all;
     margin-top: 10px;
     margin-left: 50px;
     margin-right: 50px;
     margin-bottom: 25px;
     font-size: 20px;
     font-weight: lighter;
   }

   #img-food4{
     width: 50%
   }

  /*plato 5*/
  .chilcano-pescado p{
    text-align: justify-all;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: lighter;
  }

  #img-food5{
    width: 50%
  }

  .location h2{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
  }

  .location hr{
    width: 59%;
    margin-bottom: 15px;
  }

  iframe{
    width: 85%;
    height: 300px;
  }

  .location{
    margin-bottom: 30px;
  }
}

@media (max-width: 398px) {

  .logo{
    display: none;
  }

  .header{
    background: #000;
    height: 50px; /*cambiar menor a 80px*/
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .nav-menu{
    flex-direction: column;
    align-items: center;
    background-color: rgba(76, 77, 79, 0.47);
    position: fixed;
    left: 0px;
    top: 50px;
    width: 100%; /*--------------------------*/
    padding: 7px;

    height: calc(100% - 67.5%);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item{
    line-height: 70px;
  }

  /*opcional*/
  .nav-menu-link:hover{
    background: none;
    color: indianred;
  }

  .nav-toggle{
    display: block;
  }

  .nav-menu_visible{
    left: 0; /*-------------------*/
  }

  .nav-toggle:focus:not(:focus-visible){
    outline: none;
  }

  .picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }

  .picture img{
    margin-top: 90px;
    width: 80%; /*PENDIETE*/
  }

  .line-social-medias1{
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .social-medias a{
    margin: 5px;
  }

  .social-medias a img{

  }

  .social-medias span{
    position: relative;
    text-align: center;
    font-size: 20px;
    top: -6px;
    margin-right: 5px;
  }

  .line-social-medias2{
    width: 70%;
    margin-top: 5px;
    margin-bottom: 90px;
  }

  .about-us{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }

  .about-us img{
    width: 50%;
  }

  .about-us h2{
    margin-bottom: auto;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
  }

  .about-us p{
    text-align: justify-all;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: lighter;
  }

  .block-cartas{
    width: 50%;
    margin-bottom: 10px;
  }

  .foods h2{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
  }

  /*plato 1*/
  .inchicapi p{
    text-align: justify-all;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: lighter;
  }

  #img-food1{
    width: 50%;
  }

  /*plato 2*/
  .patarashca p{
    text-align: justify-all;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: lighter;
  }

  #img-food2{
    width: 50%
  }
   /*plato 3*/
   .cecina-tacacho p{
     text-align: justify-all;
     margin-top: 10px;
     margin-left: 50px;
     margin-right: 50px;
     margin-bottom: 25px;
     font-size: 20px;
     font-weight: lighter;
   }

   #img-food3{
     width: 50%
   }
   /*plato 4*/
   .caldo-gallina p{
     text-align: justify-all;
     margin-top: 10px;
     margin-left: 50px;
     margin-right: 50px;
     margin-bottom: 25px;
     font-size: 20px;
     font-weight: lighter;
   }

   #img-food4{
     width: 50%
   }

  /*plato 5*/
  .chilcano-pescado p{
    text-align: justify-all;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: lighter;
  }

  #img-food5{
    width: 50%
  }

  .location h2{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
  }

  .location hr{
    width: 59%;
    margin-bottom: 15px;
  }

  iframe{
    width: 85%;
    height: 300px;
  }

  .location{
    margin-bottom: 30px;
  }
}
